@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
body{
    background: #c6ffdd;
    background: linear-gradient( to right, #000, #f1f1f1, red );
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 1500px;
    min-height: 680px;
    max-height: 690px;
    position: absolute;
    z-index: 0.5;
}

.bigger{
    min-height: 1900px;
    z-index: 1;

}
.question img {
    /* max-width: 100%; */
    height: auto;
    margin-bottom: 20px;
    z-index: 1;
    /* padding-right: 500px; */
}

.padding{
    padding-left: 500px;
}

.options {
    display: flex;
    justify-content: center;
    padding-top: 70px;
    z-index: 1;

}

.img{
    min-width: 450px;
    max-width: 450px;
    z-index: 1;
    margin-left: 400px;
    margin-right: 100px;
}

.img-2{
    min-width: 450px;
    max-width: 450px;
    z-index: 1;
    margin-right: 460px;
    margin-left: auto;
}

.left-options,
.right-options {
    display: flex;
    flex-direction: column;
    margin: 2px 100px;
    z-index: 1;

}

.label {
    display: block;
    margin-bottom: 10px;
    min-width: 450px;
    max-width: 450px;
    min-height: 100px;
    max-height: 100px;
    background-color: #fff;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    line-height: 100px;
    z-index: 1;

}

.new-label{
    display: block;
    margin-bottom: 10px;
    min-width: 450px;
    max-width: 600px;
    min-height: 100px;
    max-height: 100px;
    background-color: #fff;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    line-height: 100px;

}

.btn02{
    min-width: 450px;
    max-width: 600px;
    min-height: 100px;
    max-height: 100px;
}

.hidden{
    display: none;
}

li{
    display: flex;
    /* column-gap: 400px; */
}

input[type="radio"] {
    display: none;
    z-index: 1;

}

label {
    padding: 10px 20px;
    border: 5px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    z-index: 1;
}

input[type="radio"]:checked + label {
    background-color: #3498db;
    color: #fff;
    border-color: #3498db;
    z-index: 1;

}

.helps{
    display: flex;
    width: 396px;
}
  
.yellow{
    border-color: #c4ce09;
}

.green{
    border-color: rgb(92, 235, 92);
}

.red{
    border-color: rgb(202, 49, 22);

}

.white{
    border-color: #fff !important;
}



.modal{
    z-index: 10;
    width: 1000px;
    height: 600px;
    position: absolute;
    margin-top: 80px;
    background-color: #cdcaca;
    border-radius: 5%;
}

.btn-start{
    margin-top: 40px;
    margin-left: 110px;
    width: 200px;
    height: 50px;
}

.btn-play{
    width: 200px;
    height: 50px;
    margin-top: 40px;
}

.h1-div{
    padding-left: 100px;
    width: 850px;
}

.img-fon{
    width: 600px;
    height: 350px;
    margin-left: 200px;
}



.happyEnd{
    z-index: 10;
    width: 1000px;
    height: 650px;
    position: absolute;
    margin-top: 60px;
    background-color: #cdcaca;
    border-radius: 5%;
}

.worstEnd{
    z-index: 10;
    width: 1000px;
    height: 550px;
    position: absolute;
    margin-top: 60px;
    background-color: #cdcaca;
    border-radius: 5%;
}

.longer{
    height: 650px !important;
}

.img-punishment{
    width: 1000px;
    height: 590px;
    margin: 30px, 0px, 20px, 0.1px;
}

.submit{
    background-color: #4644ad;
    color: #fff;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: inherit;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 70px;
    line-height: 70px;
    margin-top: 1000px;
}

.submit:hover {
    background-color: #810c0c;
    }
    
    .submit:focus {
    outline: none;
    background-color: #991717;
    }
    
    .submit.next {
    background-color: #000000;
    }
    
    .submit.next:hover {
    background-color: #222222;
    }
    
    .submit.next:focus {
    outline: none;
    background-color: #444444;
    }

    .lii{
        column-gap: 400px;
    }

    .img-bounty{
        width: 1000px;
        height: 590px;
        margin: 30px, 0px, 20px, 0.1px;
    }

    .h2{
        color: #fff;
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        position:  relative;
        margin-left: 80px;
    }

    .li2{
        display: flex;
    }


    .ikons{
        width: 45px;
        height: 45px;
    }

    #fact{
        width: 65px !important;
        height: 65px !important;
    }

    .ikons-li{
        display: flex;
        /* margin-right: 400px; */
    }

    .ikon-btn{
        border: medium none;
        background-image: none; 
        background: transparent;
        float: left;
        background-color: transparent;
        cursor: pointer;
    }